header {
    background-color: red;
    padding: 30px 0;
    text-align: center;
}

header h1 {
    color: white;
}

.team-container {
    margin: auto;
    height: 80vh;
    width: 80vw;
    border: 5px solid black;
}